- @page_title  = "Home Page"
- @body_class  = nil

%h1= @page_title

%p
  HOME PAGE CONTENT

%p 
  Lorem ipsum dolor sit amet. Integer sed magna. Duis nisl nulla, porta ut,
  molestie sit amet, tincidunt eu, enim. Cras eu mauris. Cras iaculis.
  Imperdiet rhoncus mi. Pellentesque malesuada purus id purus. Quisque viverra
  porta lectus. Sed lacus leo, feugiat at, consectetuer eu, luctus quis, risus.
  Suspendisse faucibus orci et nunc. Nullam vehicula fermentum risus. Fusce
  felis nibh, dignissim vulputate, ultrices quis, lobortis et, arcu. Duis
  aliquam libero non diam.

%p
  Vestibulum placerat tincidunt tortor. Ut vehicula ligula quis lectus. In eget
  velit. Quisque vel risus. Mauris pede. Nullam ornare sapien sit amet nisl. Cras
  tortor. Donec tortor lorem, dignissim sit amet, pulvinar eget, mattis eu,
  metus. Cras vestibulum erat ultrices neque. Praesent rhoncus, dui blandit
  pellentesque congue, mauris mi ullamcorper odio, eget ultricies nunc felis in.
